{
    "extends": ["plugin:@wordpress/eslint-plugin/recommended", "prettier"],
    "plugins": ["@wordpress", "react"],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src", "admin"],
                "extensions": [".js", ".jsx", ".ts", ".tsx"]
            },
            "typescript": {
                "project": "./tsconfig.json"
            }
        },
        "react": {
            "version": "detect"
        }
    },
    "rules": {
        "no-console": "warn"
    }
}
